<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.devlog.mapper.UserStackMapper">

	<!-- 사용자의 모든 기술스택을 반환한다. -->
	<select id="selectAllUserStack" resultType="UserStack">
		select *
		from
		<if test="seq_user == 0">
		techstack
		</if>
		
		<if test="seq_user != 0">
		user_stack
		where seq_user = #{seq_user}
		</if>
	</select>
	
	<!-- 사용자의 이미지 기술스택을 반환한다. -->
	<select id="selectUserImageStack" resultType="UserStack">
		select *
		from user_stack
		where seq_user = #{seq_user} and stack_img_url is not null;
	</select>
	
	<!-- 사용자의 텍스트 기술스택을 반환한다. -->
	<select id="selectUserTextStack" resultType="UserStack">
		select *
		from user_stack
		where seq_user = #{seq_user} and stack_img_url is null;
	</select>
	
	<!-- 사용자의 기술스택이 중복되는지 확인한다. -->
	<select id="selectUserStackByUserAndStack" resultType="UserStack">
		select *
		from user_stack 
 		where seq_user= #{seq_user} and stack = #{stack}
	</select>
	
	<!-- 사용자에 기술스택을 추가한다 -->
	<insert id="insertUserStack">
		insert into user_stack( seq_user, stack)
		values (
		#{seq_user},#{stack} )
	</insert>
	
	<!-- 기술 스택에 이미지 경로를 추가한다 -->
	<update id="updateUserStackImg">
	update user_stack
	set stack_img_url =	(select stack_img_url
						from techstack
						where stack = #{stack})
	where seq_user= #{seq_user} and stack = #{stack}
	</update>
	
	<!-- 사용자의 기술스택을 삭제한다. -->
	<delete id="deleteUserStack">
		delete from user_stack
		where seq = #{seq}
	</delete>

</mapper>






